@model tourneybracket.Models.Bracket

@{
    ViewData["Title"] = "Create";
    ViewData["dt"] = DateTime.Now.ToString("yyyy-MM-dd HH:mm");

}
<h1>Create</h1>

<h4>Bracket</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                Tournament Name:
                <input asp-for="BracketName" class="form-control" />
                <span asp-validation-for="BracketName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" value='@ViewData["dt"]' asp-for="CreatedAt" class="form-control" />
            </div>
            <div class="form-group">
            Format:
            <select  asp-for="TotalRounds">
            <option value="1">2 Teams, 1 Round</option>
            <option value="2">4 Teams, 2 Rounds</option>
            <option value="3">8 Teams, 3 Rounds</option>
            <option value="4">16 Teams, 4 Rounds</option>
            </select>
            <span asp-validation-for="TotalRounds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
